:root {
    --light-main: #B0C4DE;
    --light-white: #FFFFFF;
    --light-text: #79a4db;
    --light-select: #a5b8d1;
    --light-bg: #f4f5f7;
}

.dashboard-btn-container {
    display: flex;
    justify-content: end;
    gap: 1em;

}

.dashboard-btn-container > * {
    align-self: center;
}

.create-btn {
    padding: 0.2em;
    border-radius: 1em;
    cursor: pointer;
    
}

.create-btn:hover {
    background-color: #a5b8d1;
}

.mantine-Menu-root {
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38.4px;
    height: 38.4px;

}

.mantine-ActionIcon-hover:hover {
    background-color: #a5b8d1;
}


.hi:hover {
    background-color: #a5b8d1;
}

.dashboard-container {
    display: flex;
    overflow-y: auto;
    padding: 1em 0em;
    margin-bottom: 1em;
    justify-content: space-around;
    
}

.completion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    
}

.completion-details-container {
    height: 300px;
    width: 300px;
    background-color: red;
}

.progress-circle-svg {
    margin-top: 2.5em;
    width: 330px;
    height: 300px;
    fill: none;
    
}
.uncompleted-circle {
    stroke: var(--light-main);
    stroke-width: 16px;
    stroke-dasharray: 817 817;
    
}
.progress-circle {
    stroke-width: 16px;
    stroke: var(--light-text);
    stroke-dasharray: 817 817;
}

svg text {
    font-size: 32px;
    font-weight: bold;
    fill: black;
    text-anchor: middle;
    dominant-baseline: middle;
}

.todo-container {
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    text-align: center;
    margin: 0;
    min-width: 310px;
    width: 50%;
    padding-bottom: .8em;
}

.todo-paper {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--light-bg);
}

.todo-deck-container {
    min-height: 500px;
    margin-bottom: 1.5em;
}

.reset-text {
    font-size: 20px !important;
}


@media (max-width: 400px) {
    h1 {
        font-size: 24px;
    }
}


@media (max-width: 800px) {
    .dashboard-container {
    flex-direction: column;
      
    }

    .todo-container {
        margin: 0 auto;
        width: 80%;
    }

    
}