.friends-container {
    width: 95%;
    margin: 0 auto;
    margin-top: .5em !important;
    height: 100%;
}

.mantine-Tabs-body {
    height: calc(80%);
}


.friends-content-container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.search-results {
    padding: 0.5em;
    height: 100%;
    overflow-y: auto;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;

}

.search-component {
    display: flex;
    align-items: center;
    gap: 2em;
    height: 80px;
}
.activity-list {
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 0.8em;
   height: 100%;
   padding: 1em;
   
}

.activity-component {
    display: flex;
    align-items: center;
    min-height: 120px;
    gap: 2em;
    justify-content: space-between;
}

.activity-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.activity-main {
    display: flex;
    gap: 1em;
    align-items: center;
    padding-left: 1em;
}

.activity-controllers {
    margin-right: 1em;
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.activity-content p {
    padding-top: 0.5em;
}
@media (max-width: 800px) {
    .friends-content-container {
        width: 99%;
    }

    .activity-controllers {
        flex-direction: column;
    }
}